html {
    height: 100%;
    margin: 0;
    width: 100%;
}

body {
    margin: 0;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#center-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    flex-basis: 800px;
    height: 100%;
    width: 100%;
    min-width: 0;
    max-height: 100%;

}

#tooltip {
    visibility: hidden;
    font-family: sans-serif;
    font-weight: bold;
}

#tooltip rect {
    position: absolute;
    height: 60px;
    width: 125px;
    padding-left: 2px;
    fill: rgba(0, 189, 127, 0.8);
    border-radius: 5%;
    
    pointer-events: none;
}

#tooltip text {
    line-height: .5;
    margin-left 2px;
}


#svg-wrapper {
    
    box-sizing: border-box;
    width: 100%;
    display: block;
    max-height: 600px;
    min-height: 0;
    height: 100%;
}



.bar {
    fill: #64C1B5;
}

.bar:hover {
  fill: #BF6B9C;
}